{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="./css/Pages/page.css">
{% endblock %}

{% block js %}
    <script src="./js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="dateSelection">
            <input type="date" id="matchesDate">
        </div>
        <div class="leagues">

        </div>
    </div>
{% endblock %}